body{
    background-image: url(/css/fundo-de-tecnologia-design-de-plano-de-fundo-da-web-design-de-tecnologia-conexao_759274-307.jpg);
   
}
.css-navbar{
    background-image: linear-gradient(to right, #017cff, #0502d4);  
    margin-bottom: 50px;
    height: 70px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.css-link:hover{
    background-color: white;
}

.css-link{
    color:white;
    font-size: 20px;
    margin-top: 10px;
}

.imgnav{
    width: 110px;
    position:absolute;
    margin-left: 10px;
    margin-top: -10px;
}

.logoNome{
    position: absolute;
    margin-left: 110px;
    margin-top: 10px;
    color: #fff;
    font-size: 40px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3) ;
    font-family: 'Tangerine', cursive;
}

.container{
    background-color: rgba(240, 248, 255, 0.534);
    padding: 10px;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 2px -2px 4px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to right, #017cff, #0502d4);
    height: 40px;
  }